<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>531593403971-licf7o8p9q2h7c8tnd4d1bbr33elm2oc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.531593403971-licf7o8p9q2h7c8tnd4d1bbr33elm2oc</string>
	<key>API_KEY</key>
	<string>AIzaSyB6rqu997AfncaNTtLMxIBcGXJK__NwN3Q</string>
	<key>GCM_SENDER_ID</key>
	<string>531593403971</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>me.santhosh.srinivas.LoginPageGFAM</string>
	<key>PROJECT_ID</key>
	<string>loginpage2-e8166</string>
	<key>STORAGE_BUCKET</key>
	<string>loginpage2-e8166.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:531593403971:ios:1e03c13cbbbdc727babef6</string>
</dict>
</plist>